@charset "utf-8";
/* CSS Document */

html {
	height:100%;
	width:100%;
}

body {
  font-family:Arial;
  background:#000;
  height: 100%;
  width:100%;
  margin: 0 auto;

}

.bouton-home{
	position:absolute;
    padding:0;
	right: 6%;
    top: 93%;
    z-index: 100;
}

div.contenu{
	height:62%;
	background-color:#000;
	margin-right:auto;
	margin-left:auto;
}

#myCarousel ol{
	right:6%;
	top:3%;	
}


#myCarousel li{
	background-color:#F00;
}

#myCarousel li.active{
	background-color:#FFF;
}


.carousel-inner{
	height:100%;
	background: #444;
}

.imageCarrousel{
	width:43%;
	float:left;
	text-align:center;
	margin-top: 2%;
	margin-left: 6%;
    height: 78%;
}

.textCarrousel{
	width:45%;
	float:right;
	text-align:justify;
	color:#FFFFFF;
	margin-top: 2%;
	margin-right: 5%;
}

.textCarrousel p{
	padding: 2% 3% 0% 2%;
	height:85%;
	max-height:85%;
	overflow-y: auto;
}

.textOnly{
	width:76%;
	margin-left: 18%;
	text-align:justify;
	color:#FFFFFF;
	margin-top: 2%;
}

.textOnly p{
	padding: 2% 10% 0% 2%;
	height:85%;
	max-height:85%;
	overflow-y: auto;
}

.titleMedia{
	color:#FFF;
	margin-left: 15%;
   border-color:#CCC;
   border-width	: 0 0 1px;
   border-style	: solid;
   margin-right: 6%;
   height:20%;
}

div.navigation{
	height:33%;
	background-color:#333;
	margin-right:auto;
	margin-left:auto;
}

div#info{
	height:5%;
	background-color:#333;
	margin-right:auto;
	margin-left:auto;
	color:#FFFFFF;
	text-align:center;
	position:relative;
}

#popupmenu {
    z-index: -100;
    position:absolute;
    top: 5%;
    right: 1%;
    width: 50%;
    height: 60%;
}

#galleryPhoto{
	left:33%;
	margin-top: 2%;
}

#video{
	left:30%;
	margin-top:3%;
}
